{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ef5661" />
    <title>
        {% block title %}
        twitter
        {% endblock %}
    </title>
        {% block meta %}
    <meta
      name="description"
      content="Twitter social media."
    />
    <meta name="author" content="https://github.com/miladmahmoodi/twitter" />

</head>

<body>
    {% include 'components/header.html' %}
    <!-- Page Content -->
    <div>

        {% block content %}
        {% endblock %}

        {% include 'components/footer.html' %}

    </div>
</body>

</html>