{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        twitter
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block imports %}
    {% endblock %}
        {% block meta %}
    <meta
      name="description"
      content="Twitter social media."
    />
    <meta name="author" content="https://github.com/miladmahmoodi/twitter" />
        {% endblock %}

</head>

<body>
<!--    {% include 'components/navbar.html' %}-->
    <!-- Page Content -->

        {% block content %}
        {% endblock %}

</body>

</html>