{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Sign in
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
<div>
  <form method="POST">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}

    {% csrf_token %}
    {{ form.as_p }}
    {% if message %}
      {{ message }}
    {% endif %}
    <input type="submit" value="sign in">
    <a href="{% url 'user:signup' %}">
      sign up
    </a>
  </form>
</div>
{% endblock %}
