{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{user.username}}
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block content %}
      	<div class="container">
			<div>
				{% if messages %}
					<ul class="messages">
					  {% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					  {% endfor %}
					</ul>
					<br>
			  	{% endif %}
			</div>
			<div>
				{% include 'components/navbar.html' %}
			</div>
		<div class="profile">
			<div class="profile-img">
				<img class="profile-img" src="
				{% if user.image %} {{ user.image.url }} {% endif %}" alt="{{ user.username }} image">
			</div>
			<div class="profile-info">
				<h1>
					{{ user.username }}
				</h1>
				<p>
					{{ user.get_full_name }}
				</p>
				<p>
					Email: {{ user.email }}
				</p>
				<p>
					Data joined: {{ user.date_joined }}
				</p>
			</div>
		</div>
		<div class="bio">
			<p>
				{{ user.bio | default:'' }}
			</p>
		</div>
		<div class="request">
			<div class="request-content">
				{% if request.user.is_authenticated %}
					{% if request.user == user %}
						<a href="{% url 'user:edit_profile' user.pk %}">
							<button class="edit-button">Edit Profile</button>
						</a>
						<form action="{% url 'user:user_archive' user.pk %}" method="POST">
							{% csrf_token %}
							<input type="submit" class="archive-button" value="Archive Account">
						</form>
					{% elif request.user != user and not is_following %}
						<form action="{% url 'user:follow' user.pk %}" method="POST">
							{% csrf_token %}
							<input type="submit" class="follow-button" value="Follow">
						</form>
					{% else %}
						<form action="{% url 'user:unfollow' user.pk %}" method="POST">
							{% csrf_token %}
							<input type="submit" class="unfollow-button" value="Unfollow">
						</form>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="stats">
			<div class="stats-item">
				<h2>
					{{ user.post_count }}
				</h2>
				<p>Post</p>
			</div>
			<div class="stats-item">
				<h2>{{ user.following_count }}</h2>
				<p>Following</p>
			</div>
			<div class="stats-item">
				<h2>
					{{ user.followers_count }}
				</h2>
				<p>Followers</p>
			</div>
		</div>
		<div class="posts">
			{% for post in posts %}
				<div class="post">
				<a href="{% url 'post:post_detail' post.pk %}">
						<img src="{{ post.images.all.first.image.url }}" alt="{{ post.images.all.first.image.alt}}">
						<div class="post-content">
							<h3>
								{{ post.title }}
							</h3>
							<p>
								{{ post.created_at }}
							</p>
							<div class="post-caption">
								<p>
									{{ post.caption | truncatewords:10 }}
								</p>
							</div>
							<div class="post-lc">
								<p style="margin-right: 20px">
									Likes: {{ post.likes_count }}
								</p>
								<p>
									Comments: {{ post.comments_count }}
								</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
