{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Create Post
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

  <div>
    <form method="POST" enctype="multipart/form-data">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
      <div>
        {% include 'components/navbar.html' %}
      </div>
      {% csrf_token %}
        {{ form.as_p }}
        {{ image_form.as_p }}
      <input type="submit" value="Create">
    </form>
  </div>
{% endblock %}