{% extend 'base/base.html' %}
{% load static %}

{% block title %}
<!--    product list-->
{% endblock %}

{% block content %}

    {% for post in posts %}
      <li>
          <div>
            <h2>
                {{ posts.title }}
            </h2>
            <h2>
                {{ posts.user }}
            </h2>
            <h2>
                {{ posts.caption }}
            </h2>
            <h2>
                {{ posts.tag }}
            </h2>
            <h2>
                {{ posts.likes_count }}
            </h2>
            <h2>
                {{ posts.comments_count }}
            </h2>
          </div>
      </li>
    {% endfor %}

{% endblock %}
