{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Edit Post {{post.title}}
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div>
  <form method="POST" enctype="multipart/form-data">
      <div>
        {% include 'components/navbar.html' %}
      </div>
    {% csrf_token %}
    {{ form.as_p }}
    {% for image in image_form %}
      <div>
        {% if image_form.instance.id %}
          <img src="{{ image_form.instance.image.url }}" width="200px">
        {% endif %}
        {{ image.as_p }}
      </div>
    {% endfor %}
    <input type="submit" value="Update">
  </form>

</div>

{% endblock %}
